body{
    margin:0;
    padding:0;
    font-family:arial;
}
header{
    background-color:red;
    text-align:center;
    padding:0px;
    position:fixed;
    z-index:1;
    width:100%;
    left:0;
    top:0;
}
header h2{
    color:white;
    border:4px solid white;
    padding:4px 8px;/*4px-top and bottom 8px-left and right*/
    border-radius:36px;
    display:inline-block;
}
.banner .button{
    position:absolute;
    left:85%;
    top:10%;

}
button{
    background-color:brown;
    border-radius: 36px;
}
.banner{
    position: relative;
}
.banner img{
    width: 100%;
}
.banner .welcome{
    position:absolute;
    padding:30px;
    left:0;
    top:30%;
}
.banner h2{
    font-size:34px;
}
.banner h2 span{
  font-size:40px;
}
nav{
    background-color:#f4f4f4;
    padding:1px;
    position:sticky;
    top:75px; 
}
nav ul{
    white-space:nowrap;
}
nav li{
    width:25%;
    display:inline-block;

}
nav li a{
    text-decoration:none;
}
.image li{
    /* width:25%;
    display:inline-block; */
    padding:2px;
    margin:2px;
    text-align:center;
}
main h2{
    color:red;
}
main p{
    line-height:30px;
    letter-spacing:2px;
}
.join{
    background-color:lightgray;
    font-size:20px;
    text-align:center;
    padding:17px;
}
form input{
    border-radius:36px;
    font-size:25px;
    padding:2px;
}
footer{
    background-color:red;
    padding:3px;
    margin:0;
    text-align:center;
}